/* Estilos para pantallas grandes (más de 600px) */
.parlante-orange-container {
  background-color: #d87d4a;
  width: 80%;
  border-radius: 8px;
  display: flex;
}

.content-wrapper {
  display: flex;
  width: 100%;
}

.sectionImg {
  flex-basis: 50%;
}

.card-image {
  width: 410px;
  height: 493px;
}

.description_orange {
  color: white;
  width: 349px;
  height: 75px;
  top: 140px;
  opacity: 75%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d87d4a;
}

.button {
  color: white;
  background-color: black !important;
  border-radius: 0px !important;
}

.button:hover {
  background-color: #e9e9e9 !important;
  color: black;
  opacity: 50%;
}
.mobile-image {
  display: none;
}
/* Estilos para pantallas pequeñas (máximo 600px) */
@media (max-width: 600px) {
  .parlante-orange-container {
    flex-direction: column;
  }

  .sectionImg {
    display: none;
  }

  .mobile-image {
    width: 100%;
    height: auto;
  }

  .description_orange {
    width: 100%; /* Ocupar el 100% del ancho en dispositivos móviles */
  }
}
