.parlante-orange-container {
  background-color: #d87d4a;
  width: 80%;
  border-radius: 8px;
}

.content-wrapper {
  display: flex;
  width: 100%;
}

.sectionImg {
  flex-basis: 50%;
}

.card-image {
  width: 410px;
  height: 493px;
}
.description_orange {
  color: white;
  width: 349px;
  height: 75px;
  top: 140px;
  opacity: 75%;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #d87d4a;
}

.button {
  width: fit-content;
  color: white;
  background-color: black !important;
}
