.box-container {
  background-image: url(../../../assets/home/desktop/image-hero.jpg);
  background-size: cover;
  background-position: center;
  /* Otros estilos opcionales */
  width: 100%;
  height: 92vh; /* O ajusta el alto según tus necesidades */
  background-repeat: no-repeat;
}
