.containerLinksFooter {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.linksFooter {
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  padding-left: 15px;
}

.textFooter {
  width: 50%;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-bottom: 25px;
  opacity: 0.5;
}
