.card-triple-container {
  display: flex;
  justify-content: center;
  height: 284px;
  padding-top: 50px;
}

.card {
  width: 250px;
  height: 204px;
  margin: 10px;
  position: relative;
}

.card img {
  width: 100%;
  height: auto;
  position: absolute;
  top: -50%;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f1f1f1;
  text-align: center;
}

.card-content p {
  margin-top: 8px;
  margin-bottom: 0;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.card-content a {
  margin-top: 16px;
}
